nhung{% extends "base.html" %}

{% block title %}About Us - Organic{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="post-item">
          <div class="post-content">
            <h1 class="display-4 text-center my-5">About Us</h1>
            <p class="lead">Welcome to Organic, your number one source for all things fresh and organic. We're dedicated to giving you the very best of produce, with a focus on quality, customer service, and uniqueness.</p>
            <p>Founded in 2024, Organic has come a long way from its beginnings. When we first started out, our passion for providing the best, eco-friendly products drove us to do intense research, and gave us the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over the country, and are thrilled to be a part of the fair-trade wing of the grocery industry.</p>
            <p>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
            <p>Sincerely,<br>The Organic Team</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
