{% extends "base.html" %}
{% load static %}

{% block title %}{{ category.name }} - Organic{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1 class="display-4 text-center my-5">{{ category.name }}</h1>
    <div class="row">
      <div class="col-md-12">

        <div
          class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">

          {% for product in products %}
          <div class="col">
            <div class="product-item">
              <figure>
                <a href="{% url 'product_detail' product.slug %}" title="{{ product.name }}">
                  {% if product.image %}
                  <img src="{{ product.image.url }}" alt="{{ product.name }}" class="tab-image">
                  {% else %}
                  <img src="{% static 'images/product-thumb-1.png' %}" alt="Default Product Image" class="tab-image">
                  {% endif %}
                </a>
              </figure>
              <div class="d-flex flex-column text-center">
                <h3 class="fs-6 fw-normal"><a href="{% url 'product_detail' product.slug %}" class="text-decoration-none text-dark">{{ product.name }}</a></h3>
                <div>
                  <span class="rating">
                    <svg width="18" height="18" class="text-warning">
                      <use xlink:href="#star-full"></use>
                    </svg>
                    <svg width="18" height="18" class="text-warning">
                      <use xlink:href="#star-full"></use>
                    </svg>
                    <svg width="18" height="18" class="text-warning">
                      <use xlink:href="#star-full"></use>
                    </svg>
                    <svg width="18" height="18" class="text-warning">
                      <use xlink:href="#star-half"></use>
                    </svg>
                  </span>
                  <span>(222)</span>
                </div>
                <div class="d-flex justify-content-center align-items-center gap-2">
                  <span class="text-dark fw-semibold">${{ product.price }}</span>
                </div>
                <div class="button-area p-3 pt-0">
                  <div class="row g-1 mt-2">
                    <div class="col-3"><input type="number" name="quantity"
                        class="form-control border-dark-subtle input-number quantity" value="1"></div>
                    <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18"
                          height="18">
                          <use xlink:href="#cart"></use>
                        </svg> Add to Cart</a></div>
                    <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18"
                          height="18">
                          <use xlink:href="#heart"></use>
                        </svg></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <p class="text-center">There are no products in this category yet.</p>
          {% endfor %}

        </div>
        <!-- / product-grid -->


      </div>
    </div>

  </div>
</section>
{% endblock %}
